<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>{{data.label}}</mat-label>
    <input matInput [(ngModel)]="data.value" [placeholder]="data.placeholder">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.value" cdkFocusInitial 
          [disabled]="!data.value || !data.value.trim()">{{data.action}}</button>
</mat-dialog-actions>